.stopwatch {
  background-color: #dfdfdf;
  color: #a8a8a8;
  margin: 2em;
  padding: 2em;
  width: 20em;
  border: solid 0.2px #172121;
  border-radius: 5%;
}

.stopwatch h1 {
  color: whitesmoke;
}

.btn {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  height: 80%;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: rgb(37, 37, 37);
  text-align: center;
  transition: all 0.5s;
}

.btn:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}
